#title {
	background-color: #ff4c68;
	color: white;
}
body {
	font-family: "Montserrat", sans-serif;
}
.container-fluid {
	padding: 3% 15%;
}
h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	size: 3.5rem;
	line-height: 1.5;
}

/* NAV bar */
.navbar {
	padding-bottom: 4rem;
	padding-left: 0px;
}
.navbar-brand {
	font-family: "ubuntu";
	font-size: 2.5rem;
	font-weight: bold;
}
.nav-item {
	/* padding left-right 18px */
	padding: 0 18px;
}
.nav-link {
	font-family: "Montserrat-light", sans-serif;
	font-size: 1.2rem;
}
/* Download-Buttons */
.download-button {
	margin: 5% 3% 5% 0;
}
/* Title-Image  */
.col-lg-6 {
	position: relative;
}
.title-image {
	/* Changed Image size to 60% */
	width: 60%;
	transform: rotate(25deg);
	margin-top: 10%;
	margin-left: 18%;
}
/* Feature Page */
#features {
	padding: 7% 15%;
}
.feature-box {
	text-align: center;
}
/* Fontawsome icon  */
.icon-feature {
	color: #ef9172;
	padding-bottom: 1rem;
}
/* adding hover to icons */
.icon-feature:hover {
	color: #ff4c68;
}
.feature-p {
	color: #8f8f8f;
}
.feature-h3 {
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 1.5rem;
	display: block;
}
/* Testimonials  */
#testimonials {
	/* this adds padding same as previous pages(title,feater) */
	text-align: center;
	background-color: #ff4c68;
	color: white;
}
.testimonials-h2 {
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 3rem;
	line-height: 1.5;
}
.testimonials-img {
	width: 10%;
	/* making the pic circler */
	border-radius: 100%;
	/* adds margins 20px all sides */
	margin: 20px;
}
.carousel-item {
	padding: 7% 15%;
}
/* Testiomnal section--> IMP carousel */
#press {
	background-color: #ff4c68;
	text-align: center;
	padding-bottom: 3%;
}
.press-img {
	width: 15%;
	margin: 20px 20px 50px;
}
/* Pricing page */
#pricing {
	padding: 100px;
	text-align: center;
}
.pricing-h3 {
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 1.5rem;
	/* display: block; */
}
.pricing-h2 {
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 3rem;
	line-height: 3;
}
.pricing-p {
	color: #8f8f8f;
}
.pricing-col {
	padding: 3% 2%;
}
